# Dependencies
composer.lock
vendor/

# Symfony
var/

# Application specific
downloaded_resource.xls
private/

# Testing
.phpunit.cache/
coverage/
phpunit.xml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


